@import @/styles/helpers

.layout
    position: relative
    display: flex
    flex-direction: column
    flex-grow: 1
    min-height: 100vh
    overflow: hidden
    &.layoutNoOverflow
        overflow: visible
    &.layoutWhite
        background-color: $n0
        min-height: 0vh

.inner
    flex-grow: 1
